/* Colors
 * Gray: #40434E
 * White: #FFFFFA
 * Green: #537c4d
 */




    /***********
        Portfolio
       ************/

  
  .pdf-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pdf-gallery {
    width: 48%; 
    margin-bottom: 1.5rem; 
    text-align: center;
}

.client {
  display: block;
  width: 100%;  /* Full width of the parent container */
  height: 12.5rem; /* Fixed height to ensure uniformity */
  overflow: hidden; /* Keeps the image contained within the borders */
  border-radius: 1.5rem;
  position: relative;  /* Sets position context for absolute positioning of the title */
  margin-bottom: 0.5rem;
  background-color: #f0f0f0; /* Provides a background color in case of transparent images */
}
.client img {
  width: 100%; /* Makes the image fill its container */
  height: 100%;
  object-fit: contain; /* Ensures the image fits without stretching */
  border-radius: 1.5rem; /* Maintains the rounded corners */
}
  
  .title {
    font-weight: bold;
    text-align: center;
  }
  
  .subtitle {
    color: #888;
    text-align: center;
  }
  
    /***********
        About me
       ************/
.about-me {
    display: flex;
    align-items: center;
  }
  
  .aboutme-content {
    flex: 2;
    padding-right: 1.5rem; 
  }
  .image{
    flex: 1;
  }
  
  .image img {
    max-width: 100%; 
    height: auto;
    align-items: right;
    border-radius: .5rem;
  }
  

        /***********
        MEDIA QUERY
       ************/
@media (max-width: 767px) {
    .background{
        background-position: 50% 75%;
    }
    .about-me {
      flex-direction: column; 
    }
  
    .aboutme-content,
    .image {
      flex: 1; 
      padding: 0; 
    }
    .pdf-grid {
        flex-direction: column; 
      }
    
      .pdf-gallery {
        width: 100%; 
      }
      .color-block,
    .inner-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
      footer {
        flex-direction: column; 
        text-align: center; 
        height: 22rem;
      }
    
      .contact-info, .links, .centered-logo {
        margin: 0; 
        text-align: center; 
        flex-basis: 100%; 
      }
  }
  @media (max-width: 390px) {
    .topnav {
        flex-direction: column; /* Stack nav bar vertically */
      }
  }