/* Colors
 * Gray: #40434E
 * White: #FFFFFA
 * Green: #537c4d
 */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

html{
    font-family: 'Noto Sans' , sans-serif;
}
    /***********
        Header/Nav Bar
        things
       ************/
.heading {
    text-align: center;
    background-color: #40434E;
    position: relative;
}
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/dogs.jpg);
    background-size: cover;
    background-position: 0 15%;
    z-index: 0; 
    opacity: .7;
  }
  
  .content {
    position: relative; 
    z-index: 1; 
    padding: 2em; 
  }
  .profile {
    position: relative;
    margin: .9rem 0;
  }
  
  .profile img {
    width: 9.5rem; 
    height: 9.5rem; 
    border-radius: 50%; 
    overflow: hidden;
  }
  
.social-link {
    display: inline-block;
    text-align: center;
    color: #FFFFFA;
    margin-right: .7rem;
    font-size: .8rem;
}
.social-link:hover{
    color: #537c4d;
}
h1 {
    color: #FFFFFA ;
}

h1,h2{
    text-align: center;
    font-family: 'Lora', serif;
}
     /***********
        NAV BAR
       ************/

    /* Add a background color to the top navigation */
    body .topnav {
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        width:100%;
        font-family: 'Bodoni Moda';
      }

        /* Style the links inside the navigation bar */
        .topnav a {
          float: center;
          color:  #FFFFFA;
          text-align: center;
          padding: .3em 1em;
          text-decoration: none;
          font-size: 1.3em;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
          color: #40434E;
        }
     

main{
    background-color: #FFFFFA;
    margin: 0 10em 0 10em;
    font-size: 1.1em;
    color: #40434E
}


    /***********
        Portfolio
       ************/

  
  .pdf-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pdf-gallery {
    width: 48%; 
    margin-bottom: 1.5rem; 
    text-align: center;
  }
  
  .client {
    display: block;
    height: 12.5rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem; 
    border-radius: 1.5rem;
  }
  
  .title {
    font-weight: bold;
    text-align: center;
  }
  
  .subtitle {
    color: #888;
    text-align: center;
  }
  
    /***********
        About me
       ************/
.about-me {
    display: flex;
    align-items: center;
  }
  
  .aboutme-content {
    flex: 2;
    padding-right: 1.5rem; 
  }
  .image{
    flex: 1;
  }
  
  .image img {
    max-width: 100%; 
    height: auto;
    align-items: right;
    border-radius: .5rem;
  }
  

    /***********
        FOOTER
       ************/

       footer {
        background-color: #40434E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:10rem;
        width: 100%;
      }

      .contact-info, .links {
        font-size: 1.7em;
          text-align: right;
          margin: 0 10rem 0 0; 
          flex-basis: 100%; 

      }
  
      .centered-logo {
          text-align: center;
          flex: 1;
          flex-basis: 100%; 
          font-size: 2em;
          color: #FFFFFA

      }

      footer a {
          text-decoration: none;
          color: #537c4d;
          margin: 0 1rem 0 -1rem;
      }

        /***********
        MEDIA QUERY
       ************/
@media (max-width: 767px) {
    .background{
        background-position: 50% 75%;
    }
    .about-me {
      flex-direction: column; 
    }
  
    .aboutme-content,
    .image {
      flex: 1; 
      padding: 0; 
    }
    .pdf-grid {
        flex-direction: column; 
      }
    
      .pdf-gallery {
        width: 100%; 
      }

      main{
        margin: 0;
      }
      footer {
        flex-direction: column; 
        text-align: center; 
        height: 22rem;
      }
    
      .contact-info, .links, .centered-logo {
        margin: 0; 
        text-align: center; 
        flex-basis: 100%; 
      }
  }
  @media (max-width: 390px) {
    .topnav {
        flex-direction: column; /* Stack nav bar vertically */
      }
  }