body { 
    margin: 0; 
    background: #F1E3E4;
    color: #1C1D21
}
/* Add a background color to the top navigation */
.topnav {
    background-color: #CCBCBC;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #A288A6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #BB9BB0;
    color: #F1E3E4;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #A288A6;
    color: #F1E3E4;
    ;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  footer {
    margin-top: auto;
  display: block;
  background-color: #A288A6;
  position: relative;
  bottom: 0;
  }
  