body { 
    margin: 0; 
    background: #E1B0B1;
    color: #000000
}
/* Add a background color to the top navigation */
.topnav {
    background-color: #800020;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #E1B0B1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #000000;
    color: #E1B0B1;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7C7C7C;
    color: #E1B0B1;
    ;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  footer {
    margin-top: auto;
  display: block;
  background-color: #A6B07E;
  position: relative;
  bottom: 0;
  }
  